//global
body {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 1rem;
    color: #4E4E4E;
}

.jumbotron {
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    background-color: transparent;
    margin: 0rem;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    padding: 0rem;

    .card-title {
        color: #2C3F4D;
        font-size: 1.4rem;
        margin: 0rem;
        padding: 0.7rem 0rem 0.3rem 0rem;
    }
}

.card-img-top {
    border-radius: 1rem;
}

a {
    color: #A7EAFF;
    text-decoration: none;

    &:hover {
        color: #02C2FF;
        text-decoration: none;
    }
}

.serif {
    font-family: "Merriweather";
    font-weight: bold;
}

//top section
.hero {
    display: flex;
    align-items: center;
    background-image: url("images/hero3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    

    #hero-name {
        color: #B32A33;
    }

    #hero-text {
        color: black;
        text-align: center;
        font-size: 3rem;
    }
}

#intro {
    .row {
        justify-content: space-evenly;
    }
}

.detail-card {
    margin-top: 5rem;
}



//middle section
#solution {
    background-color: #F5F5F5;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom:5rem;
}

//bottom section
#contact {
    color: white;
    background-color: #575757;
    padding: 2rem 0rem 0rem 0rem;
    
    .jumbotron {
        margin: 0rem;
    }

    .rounded {
        border-radius: 100% !important;
        margin-bottom: 1rem;
    }

    #contact-info {
        .card {
            padding: 2rem;

            .contact-details {
                margin: 0rem;
                text-align: center;
                
                line-height: 0rem;
            
                h2 {
                    margin: 0rem;
                }
                .email {
                    color: #C7C7C7;
                }
            }
        }
    }
}

