#us-map{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
path:hover, circle:hover {
  stroke: #ffffff !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #236596 !important;
  cursor: pointer;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

path {
  fill: #2C3F4D;
  stroke: #ffffff !important;
  stroke-width: 0.5px;
}